<head>
	<script src="https://code.highcharts.com/highcharts.js"></script>
</head>

<body>
	Abacate teste
	<!-- {{rates}} -->
	<!-- {%for date in rates%}
		{{date}}
	{%endfor%} -->
	<div id="container" style="width:100%; height:400px;"></div>	
</body>

<script type="text/javascript">
	//Tratamento dos dados para ficar conveniente de usar no highcharts.
	//TODO: fazer isto no backend
	var raw_data = {{rates|safe}};
	// console.log(raw_data);
	var dates = [];
	var coin_series = {};
	coin_series['EUR'] = [];
	coin_series['BRL'] = [];
	coin_series['JPY'] = [];
	for (var date in raw_data) {
		// console.log(date);
		dates.push(date);
		// console.log(raw_data[date]);
		coin_series['EUR'].push(raw_data[date]['EUR']);
		coin_series['BRL'].push(raw_data[date]['BRL']);
		coin_series['JPY'].push(raw_data[date]['JPY']);
	}
	// console.log(coin_series);

	//O que precisa ser feito: Alterar periodo(ate 5 dias) e Alterar moedas exibidas no charts (dentre essas 3)
	//Todo: carregar simbolos de moedas do back para usar aqui tmb

	//Criacao do highcharts
	document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('container', {
           
            title: {
                text: 'Comparador de Moedas'
            },
            xAxis: {
            	type: 'datetime',
            	title: {
            		text: 'ultimos 5 dias uteis'
            	},
                categories: dates
            },
            yAxis: {
            	type: 'logarithmic',
                title: {
                    text: 'Dollares'
                }
            },
            series: [{
                name: 'Iene',
                data: coin_series['JPY']
            }, {
                name: 'Real',
                data: coin_series['BRL']
            }, {
                name: 'Euro',
                data: coin_series['EUR']
            }]
        });
    });

</script>
